.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  width: 432px;
  border-radius: 16px;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
}

.container > h1 {
  font-weight: 400;
  border-bottom: 1px solid #c0c3d2;
  padding: 16px;
  color: #2a2d3b;
}

.form {
  padding: 24px;
}

.field {
  margin-bottom: 16px;
}

.field:last-child {
  margin-bottom: 0px;
}

.field > label {
  font-size: 0.85rem;
  color: #2a2d3b;
  font-weight: 400;
}

.field > input {
  width: 100%;
  margin-top: 6px;
  font-size: 0.85rem;
  padding: 8px;
  border: 1px solid #c0c3d2;
  border-radius: 4px;
}

.content_buttons {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #c0c3d2;
}

.content_buttons > button {
  margin-right: 14px;
  font-size: 0.85rem;
  font-weight: 500;
  color: #fa7268;
}

.content_buttons > button:first-child {
  background-color: transparent;
}

.content_buttons > button:last-child {
  margin-right: 0px;
  background-color: #fa7268;
  color: #fff;
  padding: 8px 16px;
  border-radius: 16px;
}

.content_buttons > button:last-child:disabled {
  opacity: 0.32;
}